{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "max-len": [
            "error",
            {
                "code": 120,
                "ignoreStrings": true,
                "ignoreTemplateLiterals": true
            }
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "indent": "off",
        "@typescript-eslint/indent": [
            "error",
            2
        ],
        "semi": "off",
        "@typescript-eslint/semi": [
            "error",
            "never"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "comma-dangle": "off",
        "@typescript-eslint/comma-dangle": [
            "error",
            "always-multiline"
        ],
        "@typescript-eslint/no-explicit-any": "warn",
        "@typescript-eslint/array-type": [
            "error",
            {
                "default": "generic",
                "readonly": "generic"
            }
        ],
        "@typescript-eslint/consistent-type-definitions": [
            "error",
            "type"
        ],
        "@typescript-eslint/explicit-function-return-type": [
            "error",
            {
                "allowExpressions": true,
                "allowTypedFunctionExpressions": true,
                "allowHigherOrderFunctions": false,
                "allowDirectConstAssertionInArrowFunctions": true,
                "allowConciseArrowFunctionExpressionsStartingWithVoid": true
            }
        ],
        "@typescript-eslint/member-delimiter-style": [
            "error",
            {
                "multiline": {
                    "delimiter": "none"
                },
                "singleline": {
                    "delimiter": "semi",
                    "requireLast": false
                }
            }
        ],
        "@typescript-eslint/no-namespace": "off",
        "@typescript-eslint/no-unused-vars": "off"
    }
  }